
<div id='post-form'>
    <form action='/post' method='post'>
        <p>
            <input type='text' name='row[title]' placeholder='Title (optional)'>
        </p>
        <p>
            <textarea name='row[body]' placeholder='Say something!'></textarea>
        </p>
        <p>
            <input type='submit' value='Post'>
        </p>
    </form>
</div>